In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import seaborn as sns
import plotly.express as px

# Load data
df = pd.read_csv("data/tennessee_all_cities.csv")

In [17]:
len(df[df.city == "Nashville"])

200

In [18]:
df[df.city == "Nashville"]

                                name  ...                              categories
0                                888  ...      Japanese, Sushi Bars, Music Venues
1             The Twelve Thirty Club  ...                 Cocktail Bars, American
2                       The Stillery  ...                      New American, Bars
3                          The Finch  ...                                American
4                   Postino 12 South  ...  Wine Bars, Cocktail Bars, New American
..                               ...  ...                                     ...
195       Little Hats Italian Market  ...                                   Delis
196  The Standard At The Smith House  ...       American, Steakhouses, Piano Bars
197                  Neighbors Gulch  ...  Sports Bars, Salad, Breakfast & Brunch
198                             Lola  ...                           Spanish, Bars
199                            Yolan  ...       Italian, Cocktail Bars, Wine Bars

[200 rows x 10 columns]